<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">
	<select id="getCategoryList" resultType="categoryDto">
		SELECT cate_name, cate_num
		FROM space_category
		ORDER BY cate_num ASC
	</select>
</mapper>