<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">
	<select id="getList" resultType="categoryDto">
		SELECT cate_num, cate_name
		FROM space_category
	</select>
	<select id="getData" resultType="categoryDto" parameterType="int">
		SELECT cate_name
		FROM space_category
		WHERE cate_num=#{num}
	</select>
</mapper>