<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dib">
	<insert id="insert" parameterType="dibDto">
		INSERT INTO dibson_list
		(dibson_num, users_num, users_id, space_num, dib_regdate)
		VALUES(dibson_list_seq.NEXTVAL, #{users_num}, #{users_id}, #{space_num}, SYSDATE)
	</insert>
	<delete id="delete" parameterType="int">
		DELETE FROM dibson_list
		WHERE dibson_num= #{dibson_num }
	</delete>
	<select id="getData" parameterType="dibDto" resultType="dibDto">
		SELECT result1.*
		FROM
			(SELECT dibson_num, space_name, id, mainImagePath, addr, cate_num, rownum as rnum
			FROM
				(SELECT space_name, id, mainImagePath, addr, cate_num
				FROM
					(SELECT space_name, id, mainImagePath, addr
					FROM seller_space
					INNER JOIN space_users ON seller_space.users_num = space_users.users_num)
				INNER JOIN space_category ON cate_name=space_category.cate_name
				)
			INNER JOIN dibson_list ON space_num=dibson_list.space_num
			WHERE users_id=#{users_id}) result1
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getDetailData" parameterType="dibDto" resultType="dibDto">
		SELECT dibson_num
		FROM dibson_list
		WHERE space_num=#{space_num} AND users_id=#{users_id}
	</select>
</mapper>