<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	
	<select id="getList" parameterType="reviewDto" resultType="reviewDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT review_num,review_writer,review_title,review_content,viewcount,review_regdate 
				FROM review
				ORDER BY review_num DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<select id="getList2" parameterType="int" resultType="reviewDto">
		SELECT review_num,review_writer,review_title,review_content,viewcount,TO_CHAR(review_regdate, 'YY.MM.DD HH24:MI') AS review_regdate
		FROM review
		WHERE users_num=#{users_num}
		ORDER BY space_num ASC
	</select>
	<select id="getUsersNum" resultType="int" parameterType="String">
		SELECT users_num
		FROM space_users
		WHERE id=#{id}
	</select>
	
	<select id="getCount" parameterType="reviewDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM review
	</select>

	<insert id="insert">
		INSERT INTO review 
		(review_num, review_writer, review_title, review_content, review_regdate, users_num, space_num)
		VALUES (review_seq.NEXTVAL, #{review_writer}, #{review_title}, #{review_content}, SYSDATE,#{users_num}, #{space_num})
	</insert>
	
	<select id="getData" parameterType="int" resultType="reviewDto">
		SELECT result1.*
		FROM
			(SELECT review_num,review_writer,review_title,review_content,viewcount,TO_CHAR(review_regdate, 'YY.MM.DD HH24:MI') AS review_regdate,
				LAG(review_num, 1, 0) OVER (ORDER BY review_num DESC) prevNum,
	   			LEAD(review_num, 1, 0) OVER (ORDER BY review_num DESC) nextNum
			FROM review) result1
		WHERE review_num=#{review_num}
	</select>
	
	<select id="getData2" parameterType="reviewDto" resultType="reviewDto">
		SELECT result1.*
		FROM
			(SELECT review_num,review_writer,review_title,review_content,viewcount,TO_CHAR(review_regdate, 'YY.MM.DD HH24:MI') AS review_regdate,
				LAG(review_num, 1, 0) OVER (ORDER BY review_num DESC) prevNum,
	   			LEAD(review_num, 1, 0) OVER (ORDER BY review_num DESC) nextNum
			FROM review
			
			)result1
		WHERE review_num=#{review_num}
	</select>
	
	<update id="addReviewCount" parameterType="int">
		UPDATE review
		SET viewcount = viewcount+1
		WHERE review_num=#{review_num}
	</update>
	
	<delete id="delete">
		DELETE review
		WHERE review_num=#{review_num}
	</delete>
	
	<!-- #은 ?로 바뀌고 '${xxx}'는 전처리 -->
	<update id="update" parameterType="reviewDto">
		UPDATE review
		SET review_title=#{review_title}, review_content='${review_content}'
		WHERE review_num=#{review_num}
	</update>
	
</mapper>








