<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seller">
	<select id="getList" parameterType="int" resultType="sellerDto">
		SELECT space_num, space_name, mainImagePath
		FROM seller_space
		WHERE users_num=#{users_num}
		ORDER BY space_num DESC
	</select>
	<select id="getUsersNum" resultType="int" parameterType="String">
		SELECT users_num
		FROM space_users
		WHERE id=#{id}
	</select>
	<select id="getData" resultType="sellerDto" parameterType="int">
		SELECT space_name, oneliner, intro, mainImagePath, addr, addr2, cate_name, space_num, users_num
		FROM seller_space
		WHERE space_num=#{space_num}
	</select>
	<insert id="insert" parameterType="sellerDto">
		INSERT INTO seller_space
		(space_num, space_name, users_num, oneliner, intro, mainImagePath, addr, addr2, cate_name)
		VALUES(seller_space_seq.NEXTVAL, #{space_name}, #{users_num},
			#{oneliner}, #{intro}, #{mainImagePath}, #{addr}, #{addr2}, #{cate_name})
	</insert>
	<update id="update" parameterType="sellerDto">
	 	UPDATE seller_space
	 	SET space_name = #{space_name}, oneliner=#{oneliner}, intro=#{intro},
	 		mainImagePath = #{mainImagePath}, addr=#{addr}, addr2=#{addr2}, cate_name=#{cate_name}
	 	WHERE space_num = #{space_num}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM seller_space
		WHERE space_num = #{space_num}
	</delete>
	<select id="getaddr" resultType="sellerDto" parameterType="int">
		SELECT addr, space_name, mainImagePath, space_num
		FROM seller_space
		INNER JOIN space_category ON space_category.cate_name=seller_space.cate_name
		WHERE space_category.cate_num= #{cate_num}
	</select>
	<select id="addrcount" resultType="int" parameterType="int">
		SELECT COUNT(addr)
		FROM seller_space
		INNER JOIN space_category ON space_category.cate_name=seller_space.cate_name
		WHERE space_category.cate_num= #{cate_num}
	</select>
</mapper>
