<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	
	<insert id="insert" parameterType="usersDto">
		INSERT INTO space_users
		(users_num, id, pwd, email, regdate, code)
		VALUES(space_users_seq.NEXTVAL ,#{id}, #{pwd}, #{email}, SYSDATE, #{code})
	</insert>
	
	<select id="getData" resultType="usersDto" parameterType="String">
		SELECT users_num, code, pwd, email, regdate, profile
		FROM space_users
		WHERE id=#{id}
	</select>
	
	<update id="updatePwd" parameterType="usersDto">
		UPDATE space_users
		SET pwd=#{newPwd}
		WHERE id=#{id}
	</update>
	
	<!-- 
		int, long, float, double, String type 에 대응되는 
		
		jdbcType 종류 
		
		INTEGER, BIGINT, FLOAT, DOUBLE, VARCHAR
	 -->
	<update id="update" parameterType="usersDto">
		UPDATE space_users
		SET email=#{email }, profile=#{profile, jdbcType=VARCHAR}
		WHERE id=#{id }
	</update>
	
	<update id="update2" parameterType="usersDto">
		UPDATE space_users
		SET email=#{email } <if test="profile != null">, profile=#{profile }</if>
		WHERE id=#{id }
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM space_users
		WHERE id=#{id}
	</delete>
</mapper>
